
.charts {
	overflow: hidden;
	position: relative;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	color: #8b8b8b;
	padding: 0;
	width: 70%;
	top: 20%;
	/*margin: -40px 0 0 40px;*/
	-webkit-backface-visibility: hidden;
}

.graph, .info {
	text-align: center;
}